 .brown-text {
 color: brown;
 }
 .green-text {
 color:green; 
 }

 .blue-text {
 color:blue; 
 }

 .yellow-text {
 color: yellow; 
 }

 .purple-text {
 color: purple; 
 }
 .red-text {
 color: red;
 } 